#outer{
    display: flex;
    width: 85%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#12284c;
}
#filter{
    line-height: 35px;
    width: 25%;
}
/* #category>div:first-child{
    line-height: 25px;
} */
#category>div:first-child>h3{
    line-height: 25px;
    margin-bottom: -5px;
}
#category>div:first-child>p{
    font-size: 12px;
    line-height: 10px;
   
}

#category>div>hr{
    width: 85%;
    margin-left: 0;
}
#filter div li{
    list-style-type: none;
    cursor: pointer;
}
/* #outer>div{
    /* justify-content: space-evenly; */
/* } */ */

#skincare{
    width:80%;
    /* border: 2px solid blue; */
}
#skincare>#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:5px solid green; */
    padding-right: 20px;
    padding-left: 20px;
}
#skincare>#top span{
    font-weight: bolder;
    margin-right: 5px;
}
#skincare>#top>#sort>select{
    padding: 10px 20px;
    border: 1px solid #383f4b;
    font-size: large;
    color: #12284c;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    height: auto;
    /* border: 2px solid red; */
}
/* #container>#card{
    grid-area:card;
}
#container>#products-details{
    display: grid;
    grid-template-areas: 'card card card card card  card card';
    background-color: #9da3a9;
} */
#top hr{
    width: 80%;
    height: 20px;
}

#container> #card{
    /* border: 2px solid blue; */
    height: 500px;
   /* padding-bottom: 10px;
   margin-bottom: 40px; */
}
#image-box{
    width: 75%;
    height: 60%;
    /* border: 2px solid #383f4b; */
    margin: auto;
}
#image-box>img{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-left: 10%;
    margin-bottom: -20px;
    /* border: 2px solid blue; */
    border-radius: 5px;
    cursor: pointer;
}
.product-data>p{
    margin-bottom: -10px;
    line-height: 20px;
}
.product-data>p:first-child{
    font-weight: bolder;
}
#card #wishlist{
    display: flex;
    align-items: center;
}
 i{
   /* width: 20px;
   height: 20px; */
   font-size: xx-large;
   margin-right: 10px;
   cursor: pointer;
   /* color:rgb(56, 149, 186); */
  -webkit-text-fill-color: #fff;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
  
}
#wishlist p{
    color:#12284c;
    font-size: 14px;
    font-weight:bolder;
   line-height: 5px;
   margin-left: 15px;
}

#product-desc{
    width: 45%;
    display: flex;
    /* border: 8px solid crimson; */
    top: 25%;
    left: 25%;
    position: absolute;
    background-color: #fff;
}

#product-desc>div{
    width: 50%;
    display: block ;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: flex-start;
}
#product-desc>div:nth-child(1) h3{
    text-align: center;
    cursor: pointer;
    /* border: 1px solid #12284c; */
}
#product-desc>div:nth-child(2) #cross-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}
#product-desc img{
    width: 100%;
    margin: auto;
}
#add-to-cart-modal{
    display: none;  /* Hidden by default */
    position: fixed;  /* Stay in place */
    z-index: 100;  /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  /* Full width */
    height: 100%;  /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0,0,0);  /* Fallback color */
    background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */

}
#Detailed-data{
    /* border:4px solid green; */
    width: 85%;
    margin: auto;
}
#Display-Image{
    width: 80%;
    margin-top: 20%;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(1fr,2);
    gap: 10px;
    /* margin-bottom: -10%; */
    /* border: 5px solid blue; */
}
.cart-img-container {
    display: flex;
    /* flex-direction: column; */
    width: 60%;
    gap: 0.5rem;
    /* border: 5px solid red; */
}
.small-img-container>img{
    width: 100%;
    /* height: 60%; */
}
.small-img-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* margin-top: 20%; */
    /* gap: 0.5rem; */
    /* border: 2px solid blue; */
}

.target-img-container{
      /* padding: 0.1rem; */
    /* margin-top: 20%; */
    width: 65%;
    display: none;
    /* display: flex; */
    /* border: 4px solid green; */
}
.target-img-container img{
    width: 100%;
    /* height: 80%;
    border: 4px solid violet; */
}

#checkoutBox>div:first-child{
    display: flex;
    width: 75%;
    justify-content: space-around;

}

#quantityBox{
    display: flex;
    /* height: 35px; */
    justify-content: center;
    align-items:center;
    /* border:2px solid greenyellow */
}
#quantityBox>button{
    padding: 10px 17px;
    background-color: #fff;
    font-size: larger;
    border: 1px solid #9da3a9;
}

#cartListBox>#wishlistBox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid violet; */
}
#addToCartBtn{
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    height: 50px;
    font-size: large;
    color:#fff;
    background-color:#12284c;
   
}
#addToCartBtn>i{
    font-size: xx-large;
    /* margin-left: -45%; */
    /* margin-left: 10px; */
    margin-right: 32px;
    /* align-items: flex-start; */
    /* text-align: left; */
}

#products-details{
    display: block;
    width: 40%;
    margin: auto;
    /* border: 2px solid red; */
    font-size: 20px;
    font-family: Montserrat Medium,sans-serif;
    color: #12284c;
    margin-bottom: 100px;
    padding: 40px;
}
/* #products-details>div{
    display: block !important;
} */
#products-details>div:nth-child(2){
    align-items:flex-end;
    /* color:red;
    border:2px solid red; */
}
#products-details #setImage>img{
    display: block;
    width: 50%;
    /* height: 100px; */
    font-size: 18px;
    
}
#setImage+div{
    margin: auto;
    width: 60%;
}
#giftVoucher>img{
    width:30%;
}
#products-details div>h4+p{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -6px;
}
#CartBox{
    width: 90%;
    display: flex;
    /* border:2px solid brown; */
    justify-content: space-between;
   
}
/* #products-details>div>div>div{
    display: flex;
    margin-top: -15px;
    margin-bottom: -15px;
} */
#CartBox>#addToBagBtn{
    width: 55%;
    height:55px;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
    color: #fff;
    background-color: #12284c;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#cartListBox{
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    /* border: 4px solid green; */
}

#giftVoucher{
    display: flex;
    margin-top: -20px;
}
/* #products-details #box{roduct-desc>div:nth-child(2) span
    margin-bottom: -20px;
    margin-top: -20px;
} */
/* #setImage{
    width: 80%;
    height: 85%;
    display: flex;
    margin: auto;
} */
#productInfo{
    width: 80%;
    margin: auto;
    line-height: 35px;
    font-size: 60px;
    /* border: 2px solid red; */
    font-size: 25px;
    font-family: Montserrat Medium,sans-serif;
    color: #12284c;
    
}
#ViewImage>img{
    width:400px;
    height:500px;
    margin: auto;

}
#image-box>.quick-view{
    display: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 45%;
    left: 19%;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #12284c;
    font-family: Montserrat Medium,sans-serif;
    font-size: 14px;
    height: 15%;
    width: 50%;
   
}

@media all and (max-width: 1400px){
    #cartListBox,#wishlist,#Display-Image,#CartBox,#products-detail {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
     #CartBox>#addToBagBtn,#products-detail{
       /* height: auto; */
       display: block;
    }
    #product-desc>div,#checkoutBox{
        width: 80%;
        margin: auto;
    }
      #quantityBox{
        margin: auto;
      }
}

@media all and (max-width: 968px) {
    #outer,#products-detail,#products-detail {
      flex-direction: column;
      align-items: center;
    }
    #addToCartBtn>i, #checkoutBox>div:first-child,#product-desc{
        display:block;
    }
    /* #left-box,
    #right-box {
      width: 100%;
      margin: auto;
    } */
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
  }










/* *************Navabr ******************** */

body{
    overflow-x: hidden;
  }
  #main_nav{
    width:100% ; 
    height: 120px; 
    
  }
  .top_part{
      
      height: 60%;
      display: flex;
      color: #0d3e46;
  }
  .location{
      width: 15%;
      height: 40%;
      margin-left: 8px;
  }
  .location >a{
      
      text-decoration: none;
      font-size: 12px;
      font-weight: 200;
      
  }
  
  .logo{
      width: 15%;
      height: 40%;
     margin-left:26.6% ;
     margin-top: 18px;   
  }
  .logo >a >img{
      width: 100%; 
  }
  .nav_item{
      width: 32%;
      height: 50%;
      display: flex;
      margin-left: 13%; 
      cursor: pointer;
  }
  .nav_item >div{
      margin-left: 10px;
  }
  .wishlist{
      width: 22%;
      height:100%;
  }
  .wishlist >span{
      text-decoration: none;  
  }
  .search{
      width: 22%;
      height:100%;
  }  
  .search >span{
      text-decoration: none;  
  } 
  
  .signin{
      width: 27%;
      height:100%;
  }  
  .bag{
      width: 15%;
      height:100%;
  }
  
  #upperdropdown_hr{
    width: 102%;
    margin-top: -5px;
    margin-left: -10px;
  }
  
  #dropdown{
      width: 80%;
      height: 35%;
      margin-left: 12%;
      color: rgb(34, 33, 33);
     display: flex;
     cursor: pointer;
  }
  #dropdown >div{
    margin-left: 60px;
    color: rgb(141, 141, 211);
  
  }
  #dropdown >div:hover{
    text-decoration: underline;
    text-underline-offset: 26px;
    text-decoration-color: rgb(7, 7, 14);
  }
  #brand{
    text-decoration: underline;
    text-underline-offset: 25px;
    text-decoration-color: rgb(7, 7, 14);
    text-decoration-thickness: 3px;
  }
  
  
  
   #dropdown_shop{
    width: 80%;
    margin-left: 10%;
    height: 450px;
    display: none;
    margin-bottom: 50px;
     background-color:white; 
   }
  
   .category{
  width: 25%;
  height: 100%;
  display: flex;
   }
   
   #dropdown_shop >hr{
    width: .5px;
    height: 90%;
    color:black;
    background-color: grey;
    margin-left: 0;
    margin-top: 0%;
   }
  
   .category >ul{
    list-style-type: none;  
    margin-left: -10px;
    margin-top: 7px;
   }
   .category >ul >li{
    
    margin-top: 20px;
    color: rgb(88, 84, 84);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   }
   .category >ul >li:hover{
    color: rgb(14, 13, 13);
   font-size:17.5px ;
    
   }
   .bycategory{
    width: 25%;
    height: 100%;
     }
     .bycategory >ul{
      list-style-type: none;  
      margin-left: -10px;
      margin-top: 27px;
     }
     .bycategory >ul >li{
      
      margin-top: 17px;
      color: rgb(88, 84, 84);
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
     }
     .bycategory >ul >li:hover{
      color: rgb(14, 13, 13);
     font-size:17.5px ;
      
     }
  
     .bybrand{
      width: 21%;
      height: 100%;
     
       }
       .bybrand >ul{
        list-style-type: none;  
        margin-left: -10px;
        margin-top: 27px;
       }
       .bybrand >ul >li{
        margin-top: 10px;
        color: rgb(100, 97, 97);
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
       }
       .bybrand >ul >li:hover{
        color: rgb(14, 13, 13);
       font-size:17.5px ;
        
       }
       .dropdown_img{
        margin-top: 15px;
       }
       .dropdown_img >p{
      font-size: 14px;
      margin-top: -10px;
       }
  
  
  #new_box{
        width: 101.5%;
        height: 480px;
        background-color: white;
        margin-top: -10px;
        display: none;
        margin-left: -2%;
         position: absolute;
        z-index: 2;
       }
  #new_box >hr{
    margin-top: -2px;
  }
  
   #dropdown_new{
     width: 70%;
    margin-left: 15%;
    height: 400px;
    margin-top: 0;
    display: flex;
    
      }
  
  .newcategory{
    width:25% ;
    height:80% ;
    margin-top: 25px;  
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  .newcategory >ul {
    list-style-type: none; 
    color: rgb(100, 97, 97);
  }
  
  .newcategory >ul >li{
    margin-top: 10px;
  }
  .newcategory >ul >li:hover{
    color: rgb(14, 13, 13);
   font-size:17.5px ;
    
   }
  .newcategory_img1{
    width: 34%;
    height: 100%;
    font-size: 14px;
  }
  .newcategory_img1 >img{
    width: 100%;
    height: 73%;
  }
  .newcategory_img1 >h3{
    font-size: 15px;
    font-family:Arial,  sans-serif ;
    font-weight: lighter;
    margin-top: 3px;
  }
  
  .newcategory_img2{
    width: 35%;
    height: 100%;
    margin-left:5%;  
  
  }
  .newcategory_img2 >img{
    width: 100%;
    height: 73%;
  }
  .newcategory_img2 >h3{
    font-size: 15px;
    font-family:Arial,  sans-serif ;
    font-weight: lighter;
    margin-top: 3px;
  }
  .newcategory_img2 >p{
    font-size: 14px;
  }
  
  
  
  
  
  
  
  
  
  #brand_box{
    width: 102%;
    height: 480px;
    background-color: white;
    margin-top: -10px;
    margin-left: -2%;
     position: absolute;
     display: none;
    z-index: 2;
   }
  #brand_box >hr{
  margin-top: -2px;
  }
  
  #dropdown_brand{
  width: 80%;
  margin-left: 12%;
  height: 400px;
  margin-top: 0;
  display: flex;
  
  }
  #dropdown_brand >ul{
    list-style-type: none;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 97, 97);
  }
  #dropdown_brand >ul:nth-child(4){
    margin-left: 2%;
  }
  
  #dropdown_brand >ul >li{
    margin-top: 10px;
  }
  #dropdown_brand >ul :hover{
    font-size: 17px;
    color: black;
  }
  
  
  
  
  
  
  
  
  
  #explore_box{
    width: 102%;
    height: 480px;
    background-color: white;
    margin-top: -10px;
    margin-left: -2%;
      display: none;
     position: absolute;
    z-index: 2;
   }
  #explore_box >hr{
  margin-top: -2px;
  }
  
  #dropdown_explore{
  width: 70%;
  margin-left: 15%;
  height: 400px;
  margin-top: 0;
  display: flex;
  }
  
  .explorecategory{
  width:25% ;
  height:80% ;
  margin-top: 25px;  
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  
  }
  .explorecategory >ul {
    color: rgb(100, 97, 97);
  list-style-type: none; 
  }
  
  .explorecategory >ul >li{
  margin-top: 10px;
  }
  .explorecategory >ul >li:hover{
  color: rgb(14, 13, 13);
  font-size:17.5px ;
  
  }
  .explorecategory_img1{
  width: 34%;
  height: 100%;
  font-size: 14px;
  }
  .explorecategory_img1 >h3{
  font-size: 15px;
  font-family:Arial,  sans-serif ;
  font-weight: lighter;
  margin-top: 3px;
  color: rgb(54, 53, 53);
  }
  .explorecategory_img1 >p{
    color: rgb(87, 84, 84);
  }
  
  
  .explorecategory_img2{
    width: 34%;
    height: 100%;
    font-size: 14px;
    }
    .explorecategory_img2 >h3{
    font-size: 15px;
    font-family:Arial,  sans-serif ;
    font-weight: lighter;
    margin-top: 3px;
    color: rgb(54, 53, 53);
    }
    .explorecategory_img2 >p{
      color: rgb(87, 84, 84);
    }
    
  
  
  
  
  #event_box{
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: -11px;
    margin-left: -2%;
     position: absolute;
     display: none;
    z-index: 2;
   }
   #event_box >hr{
    margin-top: -2px;
    }
  
   #dropdown_event{
    width: 50%;
    margin-left: 25%;
    height: 400px;
    margin-top: 0;
    display: flex;
    }
  
    .eventcategory_img1 >h3{
      font-size: 15px;
      font-family:Arial,  sans-serif ;
      font-weight: lighter;
      margin-top: 3px;
      }
      .eventcategory_img2 >h3{
        font-size: 15px;
        font-family:Arial,  sans-serif ;
        font-weight: lighter;
        margin-top: 3px;
        }
  
        .eventcategory_img1{
          width: 44%;
          height: 80%;
          font-size: 14px;
          }
   .eventcategory_img2{
            width: 44%;
            height: 80%;
            margin-left: 5%;
            font-size: 14px;
  }
  
  #dropdown_event >div >p{
    font-size: 14px;
    margin-top: -10px;
    color: rgb(100, 97, 97);
  }
  
  
  
  
  
  #reward_box{
    width: 101.5%;
    height: 400px;
    background-color: white;
    margin-top: -11px;
    margin-left: -2%;
    display: none;
     position: absolute;
    z-index: 2;
   }
  
   #reward_box >hr{
    margin-top: -2px;
    }
    #dropdown_reward{
      width: 40%;
      height: 98%;
      margin-left: 33%;
      display: flex;
    }
  
    .rewardcategory{ 
      width:35% ;
    }
    .rewardcategory >ul{
      list-style-type: none;
      color: rgb(100, 97, 97);
    }
    .rewardcategory >ul >li:hover{
      color: black;
      font-size: 18px;
    }
    .reward_img{
      width:60% ;
    }
  
  
  
    #routine_box{
      width: 101.5%;
      height: 400px;
      background-color: white;
      margin-top: -11px;
      margin-left: -2%;
      display: none;
       position: absolute;
      z-index: 2;
     }
     #routine_box >hr{
      margin-top: -2px;
      }
  
      #dropdown_routine{
        width: 70%;
        height: 98%;
        margin-left: 20%;
        display: flex;
      }
      #dropdown_routine >div  >h3{
        font-family:Arial,  sans-serif ;
       font-size: 14px;
       color: rgb(100, 97, 97);
      }
      #dropdown_routine >div  >p{
        color: rgb(109, 106, 106);
        margin-top: -8px;
      }
  
      .routine_img2{
        margin-left: 2%;
      }
  
      .routinecategory >ul{
        list-style-type: none;
        color: rgb(109, 106, 106);
      }
  
      .routinecategory >ul >li{
        margin-top: 10px;
      }
      .routinecategory >ul >li:hover{
        color: black;
        font-size: large;
      }
  
  
  
  
  
    #offer{
      width: 102.4%;
      height:35px ;
      margin-left: -10px;
      margin-top: -12.4px;
      background-color: rgb(206, 236, 236);
      overflow: hidden;
     
    }
    #category_hr{
      width: 4.7%;
      height: 1px;
      color: black;
      margin-left: 31%;
      margin-top: -14px;
      background-color: black;
    }
  
  
  
  
    
    .item-1, 
    .item-2, 
    .item-3 {
        position: absolute;
      display: block;
      text-align: center;
      width: 45%;
      
      font-size: .8em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        animation-direction:reverse;
        animation-iteration-count: infinite;
    }
    
    .item-1{
        animation-name: anim-1;
    }
    
    .item-2{
        animation-name: anim-2;
    }
    
    .item-3{
        animation-name: anim-3;
    }
    
    @keyframes anim-1 {
        0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 25%; opacity: 1; }
      33.33%, 100% { left: 110%; opacity: 0; }
    }
    
    @keyframes anim-2 {
        0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 25%; opacity: 1; }
      66.66%, 100% { left: 110%; opacity: 0; }
    }
    
    @keyframes anim-3 {
        0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 25%; opacity: 1; }
      100% { left: 110%; opacity: 0; }
    }
  
  
  
   
   #box_line{
    height: -0.1px;
    width: 100%;
    height:100px ;
    margin-left: 0px;
    margin-top: -8px;
    align-items: center;
  list-style-type: style white;
   }
   
  
  
   .footer-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px;
    margin-top: 15px;
    border-top: 2px solid #dcdcdc;
  }
  
  .newsletter {
    flex: 0 1 auto;
    margin: 0px 20px;
    max-width: 50ch;
    min-width: 30ch;
    line-height: 30px;
  }
  
  .newsletter > .icons {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
    max-width: 90%;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #12284c;
  }
  
  .footer-navwrap {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-between;
    min-width: 600px; 
  }
  
  .footer-navwrap > * {
    justify-items: space-between;
    flex-basis: 100%;
    margin-bottom: 5px;
    color: #12284c;
    font-weight: normal;
  }
  
  .footer-navwrap h2 {
    font-weight: normal;
    font-size: 14px;
    font-family: Montserrat light, sans-serif;
    text-transform: uppercase;
  }
  
  .footer-navwrap > div > * > * {
    margin: 16px auto;
  }
  
  .footer-navwrap ul,
  .footer-navwrap li a {
    color: #12284c;
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
  }
  
  .footer-mail {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #12284c;
  }
  
  .footer-mail:focus {
    outline: none;
  }
  
  #arrow-submit-btn {
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    height: 30px;
    background-color: white;
  }
  
  #arrow-submit-btn:hover {
    cursor: pointer;
  }
  
  #mail-submission-success-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #12284c;
    transition: 2s;
  }
  
  #mail-submission-success-overlay > div {
    font-size: 20px;
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 5% auto;
    background-color: white;
    border-radius: 15px;
  }
  
  #mail-submission-success-overlay > div > img {
    width: 50px;
    margin-top: 50px;
  }
  
  #hide-overlay {
    color: #12284c;
    border: 2px solid #12284c;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    /* height: 40px; */
    padding: 10px;
    font-size: 20px;
  }
  
  #hide-overlay:hover {
    cursor: pointer;
    background-color: #12284c;
    color: white;
  }
  
  .footer-mail:focus {
    background-color: white;
  }
  
  .specials {
    display: flex;
    padding: 2%;
  }
  
  .specials h2 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  
  .specials > div {
    align-self: center;
    margin: 25px;
    flex-basis: 100%;
    text-align: center;
  }
  
  .specials > div > img {
    width: 100%;
    object-fit: cover;
  }
  
  .browse-now {
    text-decoration: underline;
  }
  
  .context {
    width: 70%;
    margin: auto;
  }