#outer{
    display: flex;
    width: 85%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#12284c;
}
#filter{
    line-height: 35px;
    width: 25%;
}
/* #category>div:first-child{
    line-height: 25px;
} */
#category>div:first-child>h3{
    line-height: 25px;
    margin-bottom: -5px;
}
#category>div:first-child>p{
    font-size: 12px;
    line-height: 10px;
   
}

#category>div>hr{
    width: 85%;
    margin-left: 0;
}
#filter div li{
    list-style-type: none;
    cursor: pointer;
}
/* #outer>div{
    /* justify-content: space-evenly; */
/* } */ */

#skincare{
    width:80%;
    /* border: 2px solid blue; */
}
#skincare>#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:5px solid green; */
    padding-right: 20px;
    padding-left: 20px;
}
#skincare>#top span{
    font-weight: bolder;
    margin-right: 5px;
}
#skincare>#top>#sort>select{
    padding: 10px 20px;
    border: 1px solid #383f4b;
    font-size: large;
    color: #12284c;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    height: auto;
    /* border: 2px solid red; */
}
/* #container>#card{
    grid-area:card;
}
#container>#products-details{
    display: grid;
    grid-template-areas: 'card card card card card  card card';
    background-color: #9da3a9;
} */
#top hr{
    width: 80%;
    height: 20px;
}

#container> #card{
    /* border: 2px solid blue; */
    height: 500px;
   /* padding-bottom: 10px;
   margin-bottom: 40px; */
}
#image-box{
    width: 75%;
    height: 60%;
    /* border: 2px solid #383f4b; */
    margin: auto;
}
#image-box>img{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-left: 10%;
    margin-bottom: -20px;
    /* border: 2px solid blue; */
    border-radius: 5px;
    cursor: pointer;
}
.product-data>p{
    margin-bottom: -10px;
    line-height: 20px;
}
.product-data>p:first-child{
    font-weight: bolder;
}
#card #wishlist{
    display: flex;
    align-items: center;
}
 i{
   /* width: 20px;
   height: 20px; */
   font-size: xx-large;
   margin-right: 10px;
   cursor: pointer;
   /* color:rgb(56, 149, 186); */
  -webkit-text-fill-color: #fff;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
  
}
#wishlist p{
    color:#12284c;
    font-size: 14px;
    font-weight:bolder;
   line-height: 5px;
   margin-left: 15px;
}

#product-desc{
    width: 60%;
    display: flex;
    /* border: 8px solid crimson; */
    top: 25%;
    left: 25%;
    position: absolute;
    background-color: #fff;
}

#product-desc>div{
    width: 50%;
    display: block ;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: flex-start;
}
#product-desc>div:nth-child(1) h3{
    text-align: center;
    cursor: pointer;
    /* border: 1px solid #12284c; */
}
#product-desc>div:nth-child(2) #cross-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}
#product-desc img{
    width: 400px;
    margin: auto;
}
#add-to-cart-modal{
    display: none;  /* Hidden by default */
    position: fixed;  /* Stay in place */
    z-index: 100;  /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  /* Full width */
    height: 100%;  /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0,0,0);  /* Fallback color */
    background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */

}


#checkoutBox>div:first-child{
    display: flex;
    width: 75%;
    justify-content: space-around;

}

#quantityBox{
    display: flex;
    /* height: 35px; */
    justify-content: center;
    align-items:center;
    /* border:2px solid greenyellow */
}
#quantityBox>button{
    padding: 10px 17px;
    background-color: #fff;
    font-size: larger;
    border: 1px solid #9da3a9;
}

#cartListBox>#wishlistBox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid violet; */
}
#addToCartBtn{
    width: 80%;
    margin-left: 10%;
    height: 50px;
    font-size: large;
    color:#fff;
    background-color:#12284c;
   
}
#addToCartBtn>i{
    font-size: xx-large;
    /* margin-left: -45%; */
    /* margin-left: 10px; */
    margin-right: 32px;
    /* align-items: flex-start; */
    /* text-align: left; */
}

#products-details{
    /* display: flex; */
    width: 80%;
    margin: auto;
    /* border:2px solid red; */
    font-size: 20px;
    font-family: Montserrat Medium,sans-serif;
    color: #12284c;
    margin-bottom: 100px;
    padding: 40px;
}
#products-details>div{
    display: block !important;
}
#products-details>div:nth-child(2){
    align-items:flex-end;
    /* color:red;
    border:2px solid red; */
}
#products-details #setImage>img{
    display: block;
    width: 50%;
    /* height: 100px; */
    font-size: 18px;
    
}
#setImage+div{
    margin: auto;
    width: 60%;
}
#giftVoucher>img{
    width:30%;
}
#products-details div>h4+p{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -6px;
}
#CartBox{
    width: 90%;
    display: flex;
    /* border:2px solid brown; */
    justify-content: space-between;
   
}
/* #products-details>div>div>div{
    display: flex;
    margin-top: -15px;
    margin-bottom: -15px;
} */
#CartBox>#addToBagBtn{
    width: 55%;
    font-size: large;
    color: #fff;
    background-color: #12284c;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#cartListBox{
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    /* border: 4px solid green; */
}

#giftVoucher{
    display: flex;
    margin-top: -20px;
}
/* #products-details #box{roduct-desc>div:nth-child(2) span
    margin-bottom: -20px;
    margin-top: -20px;
} */
#setImage{
    width: 80%;
    height: 85%;
    display: flex;
    margin: auto;
}
#productInfo{
    width: 60%;
    margin: auto;
    line-height: 40px;
    font-size: larger;
    /* border:2px solid red */
}
#ViewImage>img{
    width:400px;
    height:500px;
    margin: auto;

}
#image-box>.quick-view{
    display: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 45%;
    left: 19%;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #12284c;
    font-family: Montserrat Medium,sans-serif;
    font-size: 14px;
    height: 15%;
    width: 50%;
   
}
@media all and (max-width: 1400px){
    #cartListBox,#wishlist {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
     #product-desc{
        display:block;
        margin: auto;
        
    }
    #product-desc>div,#checkoutBox{
        width: 80%;
        margin: auto;
    }
      #quantityBox{
        margin: auto;
      }
}
.cart-img-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    /* border: 5px solid brown; */
    padding: 0.5rem;
    height: 25rem;
}
.small-img-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 0.5rem;
    /* border: 2px solid blue; */
}
.selected-img{
    /* border:2px solid black; */
    /* border: 3px solid crimson; */
    padding: 0.1rem;
}
.target-img-container{
  padding: 0.1rem;
  width: 80%;
  /* border: 4px solid green; */
}
.target-img-container img{
    width: 100%;
    height: 100%;
    /* border: 4px solid violet; */
}
@media all and (max-width: 968px) {
    #outer,#products-detail {
      flex-direction: column;
      align-items: center;
    }
    #addToCartBtn>i, #checkoutBox>div:first-child,#product-desc{
        display:block;
    }
    /* #left-box,
    #right-box {
      width: 100%;
      margin: auto;
    } */
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
  }